.divider {
  display: block;
  width: 60px;
  height: 2px;
  margin: 0 auto;
}

.divider_size_fullwidth {
  width: 100%;
}

.divider_color_light {
  background-color: #FFF;
}

.divider_color_grey {
  background: #E9EEF3;
}

.divider_color_dark {
  background-color: #2B353E;
}

